# update this file with the correct owners:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# example:
    *         @labeebarocks @kashishgupta2911 @harneet862 @braydenmcb @daniil-zahoruiko @Kelsey-Patti
